<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>583759966170-nsujf1o1v645nuf8h0f63q1tolb50690.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583759966170-nsujf1o1v645nuf8h0f63q1tolb50690</string>
	<key>API_KEY</key>
	<string>AIzaSyDItggwibuF5BpjXm4tmsC_N0sXRVcIn5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>583759966170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quincyjones.cueBoom</string>
	<key>PROJECT_ID</key>
	<string>cueboom-46a61</string>
	<key>STORAGE_BUCKET</key>
	<string>cueboom-46a61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583759966170:ios:874538c1646cd23d</string>
	<key>DATABASE_URL</key>
	<string>https://cueboom-46a61.firebaseio.com</string>
</dict>
</plist>